/**
* Portfolio CSS
**/
* {
    box-sizing: border-box;
    text-align: center;
}

button {
    background: #4aaaa5;
    height: 50px;
    width: 100px;
    color: #ffffff;
    font-size: 18px;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}

footer {
    background: #666666;
    color: #777777;
    border-top: 3px solid #4aaaa5;
    height: 80px;
    margin-bottom: 0%;
    width: 100%;
}

h2 {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    text-align: left;
    color: #4aaaa5;
}

header{
    background: #ffffff;
    height: 70px;
    border-bottom: 1px solid #9e9c9c;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: #777777;
    padding: 5px;
    text-align: left;
    line-height: 2;
}

section {
    color: #cccccc;
    float: right;
    padding: 20px;
    font-size: 18px;
}

.profile-pic {
    width: 220x;
    height: 120px;
    transform: rotate(90deg);
    margin: 10px;
    
    float: left;
}

input {
    height: 25px;
    width: 900px;
    margin-left: 20px;
    margin-right: 220px;
    text-align: initial;
    font-family: 'Arial', 'Helvetica Neue', Arial, Helvetica, sans-serif;
   
}

.about {
    height: 50px;
    border-bottom: 2px solid #9e9c9c;
    text-align: left;
    padding: 5px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #ffffff;
}

.background {
    background-image: url("../images/white-waves.png"); 
    background-size: cover;
    padding-bottom: 150px;
}

.content{
    width: 960px;
    height: 510px;
    border: 1px solid #9e9c9c;
    box-align: center;
    margin-left: 220px;
    margin-right: 220px;
    background-color: #ffffff;
}

.contact {
    padding-right: 250px;
}

.contactForm  {
    padding: 0px;
    line-height: 1;
    margin-left: 20px;

}

.gallery {
    width: 200px;
    height: 150px;
    margin: 15px 20px;
}

.message  {
    height: 140px;
    width: 900px;
    margin-left: 20px;
    text-align: start;
    margin-right: 120px;
    resize: none;
}

.name {
    color: #ffffff;
    background: #4aaaa5;
    float: left;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 28px;
    font-weight: bold;
    height: 70px;
    margin-left: 220px;
    width: 280px;
}



.picture1 {
    position: relative;
    width: 100%;

}

.picture-text {
    position: absolute;
    background: #4aaaa5;
    text-align: center;
    color: #ffffff;
    width: 200px;
    bottom: 20px;
    margin-left: 20px;
    font-size: 20px
}

.portfolio-content {
    width: 960px;
    height: 720px;
    border: 1px solid #9e9c9c;
    box-align: center;
    margin-left: 220px;
    margin-right: 220px;
    background-color: #ffffff;
}

@media only screen and (max-width: 980px) {
    header {
        position: static;
        width: 100%;
    }
    
    section {
        position: relative;
    }

    .background {
        width: 100%;
        height: auto;
        padding: 0;
        padding-bottom: 150px;

    }

    .name {
        position: absolute;
        right: 600px;
    }

    .vp-big-about {
        position: relative;
        right: 172px;
        width: 800px;
        height: 525px;
        padding-bottom: 100px;
    }

    .vp-big-contact {
        position: relative;
        right: 172px;
        width: 800px;
        height: 525px;
    }

    .vp-big-portfolio {
        position: relative;
        right: 172px;
        width: 500px;
        height: 700px;
    }

    .vp-big-link {
        position: relative;
        left: 220px;
    }

    .vp-big-input {
        width: 650px;
    }   

    }
    
@media only screen and (max-width: 768px) {
    
    header {
        position: static;
    }

    .background {
        padding: 0;
        padding-bottom: 195px;
    }

    .name {
        position: absolute;
        right: 453px;
    }

    .vp-med-about {
        position: relative;
        right: 195px;
        width: 680px;
        height: 720px;

    }

    .vp-med-contact {
        position: relative;
        right: 195px;
        width: 680px;
        height: 550px;
    }

    .vp-med-portfolio {
        position: relative;
        right: 195px;
        width: 680px;
    }

    }
    
@media only screen and (max-width: 640px) {
    header {
        position: static;
        width: 100%;
        background-color: #4aaaa5;
    
}
    section {
        position: relative;
    }
    .background {
        padding: 30px;
        padding-right: 150px;
        padding-bottom: 100px;
    }

    .name {
        position: absolute;
        right: 175px;
    }

    .vp-small-about {
        position: relative;
        top: 20px;
        right: 150px;
        width: 450px;
        height: 900px;
    }

    .vp-small-contact {
        position: relative;
        right: 180px;
        top: 20px;
        width: 500px;
        height: 500px;
    }

    .vp-small-link {
        background-color: #ffffff;
        position: relative;
        top: 80px;
        left: 63px;
    }
    
    .vp-small-input {
        width: 350px;
    }

    .vp-small-portfolio {
        position: relative;
        right: 180px;
        top: 20px;
        width: 500px;
        height: 680px;
    }
}